html {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  
  #container {
    margin-top: 25px;
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1px;
    height: 200px;
    width: 200px;
  }
  
  .box {
    border: 1px solid;
    font-size: 3em;
    cursor: pointer;
  }

  #restart {
    cursor: pointer;
  }
