html {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  #container {
    margin-top: 25px;
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1px;
    height: 575px;
    width: 575px;
  }
  
  .box {
    border: 1px solid;
    font-size: 10em;
    cursor: pointer;
  
  }

  #restart {
    cursor: pointer;
  }
  