html {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  #container {
    margin-top: 25px;
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    border: 1px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }
  
  .box {
    border: 1px solid white;
    font-size: 10em;
  
  }
  